<h1>All Posts:</h1>

<%= button_to "Create a new post", new_post_path, method: :get%>

<ul>
	<% @posts.each do |post| %>
	<li>
		<%= link_to post.title, post %> -
		<%= post.destination.name  %>
	</li>
	<% end %>
</ul>